.backToDemo {
    a {
        color: white;
        &:visited {
            color: white;
        }
    }
    margin-bottom: 10px;
}

.enterContainer {
     background-color: whitesmoke;
     display: inline-block;
     border: 1px solid black;
     padding: 0px 20px 10px 20px;
     border-radius: 10px;
    .dataInput {
        width: 40vw;
        height: 50vh;
    }

    .linkButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        text-decoration: underline;
        display: inline;
        margin: 0;
        padding: 0;
    }

    .linkButton:hover,
    .linkButton:focus {
    text-decoration: none;
    }
}