.footerContainer {
	//background-color: whitesmoke;
	margin-top: 20px;

	a {
		padding: 5px 10px 5px 0;
		color: whitesmoke;
	}
	a:visited {
		color: whitesmoke
	}
	color: whitesmoke
}

.lol {
	a, a:visited {
		 color: whitesmoke !important;
	}
	margin-bottom: 3px
}
